# GitHub templates
.github

# Coverage directories
coverage
.nyc_output

# scripts directory
/scripts
/script

# source directory
/src

# test directory
/tests
/test

# build-related files
.gitattributes
.czrc
.nvmrc
.nycrc
.releaserc
.travis.yml

# editor settings
.idea
.vscode
.editorconfig
